VITE_API_URL=
JWT_SECRET=8149f152c2e892f4be9444efd97404781b66c951f4f149494859778fe450d4e63194d09fd0826f508f56de0b449a2c99
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.mqbrpbhjjmziytfhatri:Sarvaiya1902@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.mqbrpbhjjmziytfhatri:Sarvaiya1902@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
